@font-face {
  font-family: 'iconfont';  /* project id 1576497 */
  src: url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.eot');
  src: url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.woff') format('woff'),
  url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1576497_3c4vo64ueln.svg#iconfont') format('svg');
}
[class^="lwp-icon-"],[class*=" lwp-icon-"]{
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
}
.lwp-icon-close:before{
  // content:"\e625";
  content:'x';
}