main{
    padding: 0 200px;
    display: flex;
    aside{
        width: 300px;
        a{
            display: block;
        }
    }
    header
    {
        height: 60px;
    }
    .content{

    }
}